:root {
    --primary-bg: #222831;
    --secondary-bg: #212121;
    --text-color: #EEEEEE;
    --hover-bg: #EEEEEE;
    --hover-text: #393E46;
    --button-bg: crimson;
    --button-hover-bg: darkred;
    --box-shadow: 1px 1px 3px -1px #393E46;
    --my-favourite-hex:#313131;
    --title-yellow:#FAD5A5;
    --my-second-favourite-hex:#212121;
    --mode:0;

    
    
}


.title{
    padding: 1rem 0;
    border-bottom: 1px solid var(--secondary-bg);
    z-index:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
    padding: 0 1rem;
    width: 100%;
    height: 15vh;
    background-color: var(--my-favourite-hex);
}
.title p{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-left: 10vw;
}
.title p span{
    color: var(--title-yellow);
}

.center-a-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    margin:2vh;
}

#my-favourites{
    color: var(--title-yellow);
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
}
#my-favourites:hover{
    transform: scale(1.5);
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--my-favourite-hex);
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: auto;
    margin-left: auto;
    margin-right:5vw;
}
.container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin:2vh;
    
    
}


#query-string {
    font-weight: 300;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    line-height: 3rem;
    font-size: 0.875rem;
    width: 30vw;
    border-radius: 0.375rem;
    border-style: none;
    outline: none;
    cursor: auto;
    padding-left:2vh;
    
}
#query-string::placeholder{
    
    text-align: left; 
    line-height: 3rem;
    
    
}
#search-button {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 0.375rem;
    border-style: none;
    font-size: 0.875rem;
    line-height: 3rem;
    font-weight: 300;
    background-color: var(--secondary-bg);
    color: var(--title-yellow);
    box-shadow: var(--box-shadow);
    margin-left: 1rem;
    width: 5vw;
}

#search-button:hover {
    background-color: var(--title-yellow);
    color: var(--secondary-bg);
}

body {
    background-color: var(--my-favourite-hex);
}

.basic-UI-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    align-items: center;
    justify-content: center;
}

/* .card {
    margin-top: 0.5rem;
}

#card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 0.5rem;
    text-decoration: underline;
}

#card-release-year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 1rem;
    font-style: italic;
    margin-right: 8.2rem;
    margin-left: 3px;
}

#card-image {
    padding: 1rem;
} */

#more-details {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

#view-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 1rem;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.title-like-container {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
}

#like-container {
    display: flex;
    flex-direction: row;
   align-items: left;
   justify-content: left;
    color: var(--text-color);
    cursor: pointer;
    width: 3rem;
    height:3rem;
}

.like-button {
   
    
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


#like-button:hover{
    transform: scale(1.3);
    
}

#modal {
    
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: auto;
    width: 50vw;
    height: 45vh;
    background-color: var(--my-second-favourite-hex);
    opacity: 1;
    position: fixed;
    border-radius: 0.5rem;
    overflow-y: scroll;
    color:var(--text-color);
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

   
    
}
#modal.show {
    
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
#close-modal-button {
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    border-style: none;
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 300;
    opacity: 0.9;
    background-color: var(--button-bg);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    margin-left: 48vw;
    width: 2vw;
}

#close-modal-button:hover {
    background-color: var(--button-hover-bg);
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
/* 
.favourites-container {
    background-color: var(--secondary-bg);
    align-items: center;
    margin-top: 10vh;
    justify-content: flex-start;
    color: var(--text-color);
    height: 70vh;
    width: 30vw;
    margin-right: 10vw;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#favourite-heading {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.favourites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: auto;
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
    padding: 0.5rem;
}

.favourite-item {
    background-color: red;
    height: 3vh;
} */

#mode{
    display: flex;
    flex-direction: row-reverse;

}

.favourites-list{
  position: absolute;
  right: 0;
  top:0;
  
  max-height: 60vh;
  overflow-y: scroll;
  z-index:10;
  margin-top: 11vh;
  margin-right: 5vw;
  
  scrollbar-color: var(--title-yellow);

  border-radius: 2px;
  
}
.favourites-list .favourites-list-item{
    z-index: -1;
   background-color: var(--secondary-bg);
   padding:0.5rem;
   z-index:10;
   width: 25vw;
   color:var(--text-color);
   cursor:pointer;
   transition: background-color 200ms ease;

   
  

}
.favourites-list .favourites-list-item:hover{
    background-color: var(--my-favourite-hex);
    color: white;
    transition: 0.3s ease-in;
}
.favourites-list-item{
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--my-favourite-hex);
}
.favourites-list-item-img{
    width: 3rem;
    height:4rem;
}
.favourites-list::-webkit-scrollbar {
    width: 2px; 
    background-color: var(--title-yellow);
}

.search-results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 1rem; 
    padding: 1rem;
    width: 90vw;
    margin: auto;
    
}

.search-card {
    background-color: var(--secondary-bg);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    
}

.search-card:hover {
    transform: scale(1.05);
}

.search-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.search-card .card-title {
    color: var(--text-color);
    padding: 0.5rem;
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    margin:5rem;
    width: 80%;
    overflow-x: none;
    align-items: center;
    justify-content: center;
    
    
}

.movie-card {
    width: 12vw;
    max-width: 30vw;
    background-color: var(--my-second-favourite-hex);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0px 1px 0px 1px var(--title-yellow);
    margin: 1rem;
    transition: transform 0.2s ease-in-out;
    color: var(--text-color);
    height:35vh;
}
.movie-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
   
}
.movie-card:hover {
    transform: scale(1.05);
}

.movie-card-img {
    width: 100%;
    height: 20vh;
    
    border-radius: 5px;
    margin-top: 2rem;
}

.movie-card-info {
    height: 10vh;
    
}



.details-btn {
    background-color: var(--my-favourite-hex);
    align-items: right;
    color: var(--title-yellow);
    border: none;
    padding: 2px 2px;
    justify-content: right;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin:2px
}
.details-btn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 3vh;
}

.details-btn:hover {
    background-color: #ffae42;
}

.mobile-tray{
    display: none;
}
@media (max-width: 1024px) {
    .title {
        height: 12vh;
        justify-content: center;
    }

    .title p {
        font-size: 2rem;
        margin-left: 5vw;
    }

    .search-wrapper {
        flex-direction: column;
        margin-top: 5vh;
    }

    #query-string {
        width: 50vw;
        font-size: 1rem;
    }

    #search-button {
        width: 8vw;
        margin-left: 0;
        margin-top: 1rem;
    }

    .movie-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1.5rem;
        margin: 3rem;
    }

    .movie-card {
        width: 20vw;
        height: 30vh;
        margin: 2rem;
    }
}


@media (max-width: 768px) {
    .title {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    #my-favourites{
        display: none;
    }
    .mobile-tray {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 8.7vh;
        margin-left: 2vw;
        color: var(--title-yellow);
        
        
    }

    .title p {
        font-size: 1.5rem;
        margin-left: 0;
    }

    .center-a-div,
    

    .search-wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #query-string {
        width: 60vw;
        font-size: 1rem;
    }

    #search-button {
        width: 15vw;
        margin-left: 0;
        margin-top: 1rem;
    }

    .favourites-list {
        width: 90%;
        max-height: 50vh;
        margin-right: 2vw;
    }

    .favourites-list .favourites-list-item {
        width: 100%;
        font-size: 0.9rem;
    }

    .movie-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
        margin: 2rem;
    }

    .movie-card {
        width: 80%;
        height: auto;
        padding: 1rem;
    }

    .movie-card-img {
        height: 15vh;
    }

    .details-btn {
        padding: 6px 10px;
        font-size: 0.9rem;
    }
}
.yellow-color{
    color: var(--title-yellow);
}
.white-color{
    color:var(--text-color);
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;;
    z-index:1001;

}