:root {
    --primary-bg: #222831;
    --secondary-bg: #212121;
    --text-color: #EEEEEE;
    --hover-bg: #EEEEEE;
    --hover-text: #393E46;
    --button-bg: crimson;
    --button-hover-bg: darkred;
    --box-shadow: 1px 1px 3px -1px #393E46;
    --my-favourite-hex:#313131;
    --title-yellow:#FAD5A5;
    --my-second-favourite-hex:#212121;
    --mode:0;

    
    
}

.title{
    padding: 1rem 0;
    border-bottom: 1px solid var(--secondary-bg);
    z-index:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
    padding: 0 1rem;
    width: 100%;
    height: 15vh;
    background-color: var(--my-favourite-hex);
}
.title p{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-left: 10vw;
}
.title p span{
    color: var(--title-yellow);
}

.center-a-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    margin:2vh;
}

#my-favourites{
    color: var(--title-yellow);
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
}
#my-favourites:hover{
    transform: scale(1.5);
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--my-favourite-hex);
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: auto;
    margin-left: auto;
    margin-right:5vw;
}
.container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    margin:2vh;
    
    
}


#query-string {
    font-weight: 300;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    line-height: 3rem;
    font-size: 0.875rem;
    width: 30vw;
    border-radius: 0.375rem;
    border-style: none;
    outline: none;
    cursor: auto;
    padding-left:2vh;
    
}
#query-string::placeholder{
    
    text-align: left; /* Horizontally center */
    line-height: 3rem;
    
    
}
#search-button {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    border-radius: 0.375rem;
    border-style: none;
    font-size: 0.875rem;
    line-height: 3rem;
    font-weight: 300;
    background-color: var(--secondary-bg);
    color: var(--title-yellow);
    box-shadow: var(--box-shadow);
    margin-left: 1rem;
    width: 5vw;
}

#search-button:hover {
    background-color: var(--title-yellow);
    color: var(--secondary-bg);
}

body {
    background-color: var(--my-favourite-hex);
}

.basic-UI-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-bg);
    align-items: center;
    justify-content: center;
}

.card {
    margin-top: 0.5rem;
}

#card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 0.5rem;
    text-decoration: underline;
}

#card-release-year {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 1rem;
    font-style: italic;
    margin-right: 8.2rem;
    margin-left: 3px;
}

#card-image {
    padding: 1rem;
}

#more-details {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

#view-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 1rem;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}

.title-like-container {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
}

#like-container {
    margin-top: 1vh;
    margin-left: 1.2vh;
    height: 3.2vh;
    width: 1.5vw;
    color: var(--text-color);
    cursor: pointer;
}

#like-button {
    color: var(--text-color);
    
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#like-button:hover{
    transform: scale(1.3);
}

#modal {
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: auto;
    width: 50vw;
    height: 45vh;
    background-color: var(--text-color);
    opacity: 1;
    position: fixed;
    border-radius: 0.375rem;
    overflow-y: scroll;

    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

   
    
}
#modal.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
#close-modal-button {
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    border-style: none;
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 300;
    opacity: 0.9;
    background-color: var(--button-bg);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    margin-left: 48vw;
    width: 2vw;
}

#close-modal-button:hover {
    background-color: var(--button-hover-bg);
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.favourites-container {
    background-color: var(--secondary-bg);
    align-items: center;
    margin-top: 10vh;
    justify-content: flex-start;
    color: var(--text-color);
    height: 70vh;
    width: 30vw;
    margin-right: 10vw;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#favourite-heading {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.favourites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: auto;
    max-height: 50vh;
    overflow-y: auto;
    width: 100%;
    padding: 0.5rem;
}

.favourite-item {
    background-color: red;
    height: 3vh;
}

#mode{
    display: flex;
    flex-direction: row-reverse;

}

.search-list{
  position: absolute;
  right: 0;
  top:0;
  
  max-height: 60vh;
  overflow-y: scroll;
  z-index:10;
  margin-top: 11vh;
  margin-right: 14.9vw;
  
  scrollbar-color: var(--title-yellow);

  border-radius: 2px;
  
}
.search-list .search-list-item{
   background-color: var(--secondary-bg);
   padding:0.5rem;
   z-index:10;
   width: 30vw;
   color:var(--text-color);
   cursor:pointer;
   transition: background-color 200ms ease;
   
  

}
.search-list .search-list-item:hover{
    background-color: var(--my-favourite-hex);
    color: white;
    transition: 0.3s ease-in;
}
.search-list-item{
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--my-favourite-hex);
}
.search-list-item-img{
    width: 3rem;
    height:4rem;
}
.search-list::-webkit-scrollbar {
    width: 2px; /* Adjust width as needed */
    background-color: var(--title-yellow);
}

